<!-- Start of FileRollerSection Tag. Add FileRollerSource section for each ApplicationId. Also, for web applications, add a FileRollerSource section for [ApplicationId]_404  -->
<FileRollerSection>
  <FileRollerSource title="nsx.acura.com">
    <Threshold>
      <AgeThreshold Type="Age" Threshold="1" Unit="Hours"></AgeThreshold>
    </Threshold>
  </FileRollerSource>
</FileRollerSection>
<!-- End  of FileRollerSection Tag  -->