<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<!-- listeners for  Exception when the HandleException method is called from Enterprise Library then it is listen by ExceptionCustomTraceListener -->
			<add FilePath="C:\app_logs\" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" traceOutputOptions="None" type="b2c.ApplicationBlocks.ExceptionManagement.ExceptionLogTraceListner, b2c.ApplicationBlocks.ExceptionManagement, Version=2.0.0.0, Culture=neutral, PublicKeyToken=c9e2f078758b554e" name="ExceptionCustomTraceListener" initializeData="" formatter="Text Formatter"/>
			<add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" source="Ahm Exception framework Error" formatter="Text Formatter"/>
			<add name="Email Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" formatter="" toAddress="" fromAddress="" subjectLineStarter="AhmExceptionFramework Error" subjectLineEnder="Please review EventViewer for more details" smtpServer="" smtpPort="8000"/>
		</listeners>
		<formatters>
			<add template="Message:{message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0094870d88e0342c" name="Text Formatter"/>
			<add name="Default Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral,	PublicKeyToken=0094870d88e0342c" template="Timestamp: {timestamp}&#xA;                  Message: {message}&#xA;                  Category: {category}&#xA;                  Priority: {priority}&#xA;                  EventId: {eventid}&#xA;                  Severity: {severity}&#xA;                  Title:{title}&#xA;                  Machine: {machine}&#xA;                  Application Domain: {appDomain}&#xA;                  Process Id: {processId}&#xA;                  Process Name: {processName}&#xA;                  Win32 Thread Id: {win32ThreadId}&#xA;                  Thread Name: {threadName}&#xA;                  Extended Properties: {dictionary({key} - {value}&#xA;                  )}"/>
		</formatters>
		<!-- categorySources make refrence to CustomTraceListener for Exception Handle -->
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="ExceptionCustomTraceListener"/>
				</listeners>
			</add>
			<add switchValue="All" name="Event Log Destination">
				<listeners>
					<add name="Event Log Destination"/>
				</listeners>
			</add>
			<add switchValue="All" name="Email Log Destination">
				<listeners>
					<add name="Email Log Destination"/>
				</listeners>
			</add>
		</categorySources>
		<!--specialSources make refrence to CustomTraceListener for Debug Trace-->
		<specialSources>
			<allEvents switchValue="Off" name="All Events"/>
			<notProcessed switchValue="Off" name="Unprocessed Category"/>
			<errors name="errors" switchValue="All">
				<listeners>
					<add name="Email Log Destination"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>	 