<?xml version="1.0"?>
<ConfigurationSettings>
  <add key="Application.ApplicationId" local="nsx.acura.com" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Application.Environment" local="local" dev="dev" qa="qa" staging="staging" pat="pat" production="production" />
  <add key="ConnectionStrings.Acura"
    local="%dev%"
    dev="Data Source=sql.ignition.razorfish.com\MSSQLSERVERQA;Initial Catalog=Acura;User ID=nsxsql;Password=C@rr3nt0ptions"
    qa="%dev%"
    staging="Data Source=CUA43362SQL301v;Initial Catalog=Acura;Integrated Security=SSPI"
    pat="Data Source=CUA43362SQL201v;Initial Catalog=Acura;Integrated Security=SSPI"
    production="Data Source=B2CPRODDB;Initial Catalog=Acura;Integrated Security=SSPI" />
  <add key="ImageRenderer.ImagesPath"
    local="..\..\NSX3DAssetLibrary\"
    dev="E:\NSX3DAssetLibrary\"
    qa="D:\NSX3DAssetLibrary\"
    staging="%dev%"
    pat="%staging%"
    production="%staging%" />
  <add key="ImageRenderer.DesktopFolder"
    local="%dev%"
    dev="Desktop"
    qa="%dev%"
    staging="%dev%"
    pat="%staging%"
    production="%staging%" />
  <add key="ImageRenderer.MobileFolder"
    local="%dev%"
    dev="Mobile"
    qa="%dev%"
    staging="%dev%"
    pat="%staging%"
    production="%staging%" />
  <add key="ImageRenderer.LayerOrderFile"
    local="%dev%"
    dev="layer_order.alt"
    qa="%dev%"
    staging="%dev%"
    pat="%staging%"
    production="%staging%" />
  <!-- Leave this key empty if there's no need to generate the log-->
  <add key="ImageRenderer.LogfilePath"
    local="%dev%"
    dev="~/bin/images/Log/log.txt"
    qa="%dev%"
    staging=""
    pat=""
    production="" />
  <add key="RedirectRootToBuild" local="%production%" dev="%production%" qa="%production%" staging="%production%" pat="%production%" production="true" />
  <add key="RenderedImages.Storage.BaseUrl"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="https://s3-us-west-2.amazonaws.com/nsx.acura.com/" />
  <add key="RenderedImages.CDN.BaseUrl"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="https://de3mk53z3elpo.cloudfront.net/" />
  <add key="Diagnostics.Email.FromAddress"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="nsx.acura_support@ebizmail.honda.com" />
  <add key="Diagnostics.Email.MailServer"
    local="%qa%"
    dev="%qa%"
    qa="extrelay.us.publicisgroupe.net"
    staging="SPMailAcuraTest"
    pat="%staging%"
    production="SPMailAcura" />
  <add key="Diagnostics.Email.ToAddresses"
    local="paul.mckee@razorfish.com"
    dev="paul.mckee@razorfish.com, parind.shah@ignition.razorfish.com"
    qa="paul.mckee@razorfish.com, parind.shah@ignition.razorfish.com, miki.ikesue@ignition.razorfish.com"
    staging="%production%"
    pat="%production%"
    production="nsx.acura_support@ebizmail.honda.com" />
  <add key="Preferences.Email.FromAddress"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="acura@email.acura.com" />
  <add key="Preferences.Email.MailServerName"
    local="extrelay.us.publicisgroupe.net"
    dev="%local%"
    qa="%local%"
    staging="SPMailAcuraTest"
    pat="%staging%"
    production="SPMailAcura" />
  <add key="Preferences.Email.MailServerPort"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="25" />
  <add key="Preferences.Email.Subject"
    local="%production% - local environment"
    dev="%production% - dev environment"
    qa="%production% - QA environment"
    staging="%production% - staging environment"
    pat="%production%"
    production="Acura NSX Email Subscription" />
  <add key="Services.AkamaiCacheClear.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.akamai.services.honda.com/akamaicacheclear.ashx"
    pat="http://pat.akamai.services.honda.com/akamaicacheclear.ashx"
    production="http://akamai.services.honda.com/akamaicacheclear.ashx" />
  <add key="Services.AkamaiCacheClear.CPCode"
    local=""
    dev=""
    qa=""
    staging="395924"
    pat="395923"
    production="395922" />
  <add key="Services.eConfig.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.econfig.services.honda.com/eConfigHandler.ashx"
    pat="http://pat.econfig.services.honda.com/eConfigHandler.ashx"
    production="http://econfig.services.honda.com/eConfigHandler.ashx" />
  <add key="Services.eConfig.FileDependencyPath"
    local=""
    dev=""
    qa=""
    staging="\\ahm\web\eConfigNetShare_staging\Cache\primary"
    pat="\\ahm\web\eConfigNetShare_PAT\Cache\"
    production="\\ahm\web\eConfigNetShare\Cache\" />
  <add key="Services.eConfig.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.DealerLocator.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.location.services.honda.com/DealerlocatorHandler.ashx"
    pat="http://pat.location.services.honda.com/DealerlocatorHandler.ashx"
    production="http://location.services.honda.com/DealerlocatorHandler.ashx" />
  <add key="Services.DealerLocator.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.ECRM.BusinessEntity"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="ACURA NSX BUILD TO ORDER" />
  <add key="Services.ECRM.DefaultEmailPreferences" local="362,3" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Services.ECRM.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.services.honda.com/preferencecenter/preferencecenterhandler.ashx"
    pat="http://pat.services.honda.com/preferencecenter/preferencecenterhandler.ashx"
    production="http://services.honda.com/preferencecenter/preferencecenterhandler.ashx" />
  <add key="Services.ECRM.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.eShopping.ServiceUrl"
    local="%qa%"
    dev="%qa%"
    qa="https://staging.eshopping.services.honda.com/internal/secureHandler.ashx"
    staging="https://staging.eshopping.services.honda.com/internal/secureHandler.ashx"
    pat="https://eshopping.services.honda.com/internal/secureHandler.ashx"
    production="https://eshopping.services.honda.com/internal/secureHandler.ashx" />
  <add key="Services.eShopping.Provider" local="%dev%" dev="NSX Consultation Request Acura" qa="%dev%" staging="%dev%" pat="%production%" production="%dev%" />
  <add key="Services.eShopping.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.DataCleansing.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.datacleansing.services.honda.com/CleanseProfile.ashx"
    pat="http://pat.datacleansing.services.honda.com/CleanseProfile.ashx"
    production="http://datacleansing.services.honda.com/CleanseProfile.ashx" />
  <add key="Services.DataCleansing.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.Location.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://staging.location.services.honda.com/poi/private?Country=US&amp;Culture=en-US&amp;POIType=X&amp;SearchRadius=0&amp;NumberOfPOIs=0"
    pat="%staging%"
    production="http://location.services.honda.com/poi/private?Country=US&amp;Culture=en-US&amp;POIType=X&amp;SearchRadius=0&amp;NumberOfPOIs=0" />
  <add key="Services.Location.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Services.SendTransactSilverpopEmail.DefaultSenderFirstName" local="Acura.com NSX" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Services.SendTransactSilverpopEmail.DefaultSenderLastName" local="" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Services.SendTransactSilverpopEmail.DefaultSenderEmail" local="acura_support@ebizmail.honda.com" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Services.SendTransactSilverpopEmail.EmailLinkBaseUrl" 
    local="http://localhost:61761" 
    dev="http://nsxexports.dev.ignition.razorfish.com" 
    qa="http://nsxexports.qa.ignition.razorfish.com" 
    staging="http://staging.nsx.acura.com"
    pat="http://pat.nsx.acura.com"
    production="http://nsx.acura.com" />
  <add key="Services.SendTransactSilverpopEmail.ServiceUrl"
    local="%staging%"
    dev="%staging%"
    qa="%staging%"
    staging="http://prestage.ecustomer.services.honda.com/email/SendTransactEmail.ashx"
    pat="http://ecustomer.services.honda.com/email/SendTransactEmail.ashx"
    production="http://ecustomer.services.honda.com/email/SendTransactEmail.ashx" />
  <add key="Services.SendTransactSilverpopEmail.TimeoutSeconds"
    local="%production%"
    dev="%production%"
    qa="%production%"
    staging="%production%"
    pat="%production%"
    production="30" />
  <add key="Samples.Double" local="123.456" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Samples.Integer" local="987654321" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Samples.Timespan" local="00:23:19.456" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="Samples.Boolean" local="FalSe" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="WebAPI.AllowedOrigin"
    local="*"
    dev="http://nsxexports.dev.ignition.razorfish.com"
    qa="http://nsxexports.qa.ignition.razorfish.com"
    staging="*"
    pat="*"
    production="http://nsx.acura.com" />
  <add key="WebAPI.EnableCacheStatusHeader" local="true" dev="true" qa="true" staging="true" pat="true" production="false" />
  <add key="WebAPI.MaxConfigs" local="10" dev="%local%" qa="%local%" staging="%local%" pat="%local%" production="%local%" />
  <add key="WebAPI.RequireHTTPS" local="false" dev="false" qa="true" staging="true" pat="true" production="true" />
  <add key="WebAPI.CacheDuration.Dealers.GetByZip.Server" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.Dealers.GetByZip.Client" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
  <!-- Do not set a non-zero server cache duration for A1 (Models.GetModelDetails) in Staging, PAT, or Production.  See 
       https://razorfish-west.atlassian.net/wiki/display/NSX/A1+Retrieve+Model+Details for more information. -->
  <add key="WebAPI.CacheDuration.Models.GetImage.Server" local="0" dev="0" qa="%dev%" staging="0" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.Models.GetImage.Client" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.Models.GetImage.Browser" local="0" dev="%local%" qa="%local%" staging="300" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.Models.GetModelDetails.Server" local="0" dev="0" qa="%dev%" staging="0" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.Models.GetModelDetails.Client" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.ZipCodes.GetZipCodeFromLocation.Server" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
  <add key="WebAPI.CacheDuration.ZipCodes.GetZipCodeFromLocation.Client" local="0" dev="0:01:00" qa="%dev%" staging="1.00:00:00" pat="%staging%" production="%staging%" />
</ConfigurationSettings>
